@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

a:hover {
    color: #5CACA9;
}

.container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 80px;
}

.container2 {
    background-color: white;
    position: relative;
    margin: auto;
    width: 50%;
    height: 100%;
}

.title-edit {
    margin-bottom: 50px;
}

h4 {
    font-size: 35px;
}

.acc-details {
    flex-direction: row;
    display: flex;
    position: relative;
    width: 100%;
    padding-bottom: 13px;
}

::placeholder {
    font-size: 15px;
}

.usernames {
    margin-left: 20px;
    height: 129px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin-bottom: 10px;
}

.username1 {
    font-size: 20px;
    font-weight: 600;
}

.username2 {
    font-size: 15px;
    margin-top: -18px;
    color: #8a8a8a;
    font-weight: 500;
}

.edit-pic {

    border-radius: 50%;
    display: block;
    filter: brightness(50%);
    width: 130px;
    height: 130px;
    object-fit: cover;

}

.prof-pic {
    position: relative;


}


.edit-pic-upload {
    cursor: pointer;

}

.edit-pic-overlay {
    position: absolute;
    top: 35%;
    left: 40%;



}




.editprof-group label {
    font-size: 10px;
    color: #9D9D9D;
    transition: 0.3s;
}

.editprof-group input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid #9D9D9D;
    padding: 2.5px 0px 3px 0px;
    width: 100%;
}

textarea {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid #9D9D9D;
    padding: 0px 0px 3px 0px;
    width: 100%;
    resize: none;
}



.editprof-location {
    font-size: 18px;
    outline: none;
    border: 0px;
    border-bottom: 1px solid #9D9D9D;
    width: 100%;
    padding: 0px 0px 3px 0px;
    margin-bottom: 1.5em;
    margin-top: 0;
}

#loc {
    border: none;
    font-size: 16px;
}

.editprof-location select {
    width: 100%;
    outline: none;
}

.editprof-group label:hover {
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
}

.cancel {
    background-color: white;
    width: 80px;
    height: 43px;
    border-radius: 15px;
    border: 1px solid #2C2C2C;
    color: #5CACA9;
    transition: 0.3s;
    margin-right: 1em;
}

.cancel:hover {
    border: 1px solid #5CACA9;
}

.cancel a:hover {
    color: black;
    background-color: white;
}

.save {
    background-color: #5CACA9;
    width: 65px;
    height: 43px;
    border-radius: 15px;
    border: 1px solid #5CACA9;
    margin-left: 15px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.save:hover {
    background-color: #FEB005;
    border: 1px solid #FEB005;
}

/* alert */
.alert {
    text-align: center;

    margin: 1.5em 0em;
    border-radius: 0;
}


/* alert */
.alert {
    text-align: center;

    margin: 1.5em 0em;
    border-radius: 0;
}

.changePass {

    padding: 0.6em 1em;
    background-color: #5CACA9;
    color: white;
    border: none;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;

    font-weight: 600;
    transition: 0.3s;

}

.changePass:hover {
    color: white;
    background-color: #FEB005;


}

@media (max-width: 405px) {
    .acc-details {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .acc-details img {
        display: block;
    }
}