@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');


html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Inter', sans-serif;
    color: #2C2C2C;

}

/* title */

.title {
    background-color: #FFF9EC;

}

.title2 {
    background-color: #EDF9F8;
}

.title h1,
.title2 h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    width: 80%;


}

.title-categ {


    /* background: url("../images/home/cover-categ.png") no-repeat center; */
    max-height: 50vh;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

.category-top-title {
    position: absolute;
    top: 50%;
    transform: (-50%);
    color: rgba(44, 44, 44, 0.51);
    ;
}

.categ-top-type {
    color: #2C2C2C;
    text-transform: capitalize;
}

.title img,
.title2 img {
    width: 50%;
}

/* top-ad */

.top-ad img {
    width: 70%;
    min-height: 10vh;
    max-height: 30vh;

}

/* aside */

.aside {
    margin-right: 5em;
}



/* making them all in column */
.aside>* {
    display: flex;
    flex-direction: column;


}

.aside h4 {
    font-weight: 900;


}

.aside a {
    text-decoration: none;
    color: #535353;
}

.aside a:hover {
    color: #5CACA9;
}



.item {
    font-size: 0.9rem;
    margin-top: 1.5em;

    /* width: 33.3%; */


}

.item2 {
    font-size: 0.9rem;
    margin-top: 1.5em;


}




.item2 img {
    width: 100%;
    height: 50vh;

    border-radius: 5px;
    object-fit: cover;
}

.item img {
    width: 100%;
    height: 60vh;
    border-radius: 10px;
    object-fit: cover;

}






.item-details>* {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.item-categ {
    color: #9D9D9D;
}

.item-status {
    text-transform: capitalize;
}

.status-offered {
    color: #E84C1C;
}


.status-wanted {
    color: #5CACA9;
}

.featured-title {
    font-weight: 700;
}

.see-all {
    background-color: #FEB005;
    color: white;
    padding: 0.6em 1.5em;
    border-radius: 10px;
    border: none;
}

.see-all:hover {
    background-color: #5CACA9;
}

.bot-ad img {
    width: 100%;
    max-height: 40vh;
    padding: 0 10em;
}


/* pagination */
.pages {
    margin-top: 6em;
    text-align: center;

}


.pagination>li>a {
    border: none;
}

.pagination>li>a {
    color: #9D9D9D;
}

.pagination>li>a:active,
.pagination>li>a:focus,
.pagination:focus,
.pagination:active {
    color: black;
    background-color: transparent;
    border: 0px solid white;

}

.pagination a:hover {
    background-color: #5caca9b3;
    border: none;
    color: white;
}

.bi {
    color: #9D9D9D;
}

.active-page .pagination>li>a {
    color: black;
}

.disabled {
    color: #9d9d9d57;
}


/* dropdown */

.btn,
.dropdown-menu {
    border: 0.5px solid #4E4E4E;
    width: 100%;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 0.4em;

}


.lg-dropdown {
    margin-top: 2em;
}

.page-count {}

.featured-title2 {}


.no-post {
    color: #5CACA9;
}

/* featured star */

.featured-container {
    position: relative;

}

.star {
    position: absolute;
    left: 5%;
    margin-top: 1.5em;
}

.linkToPost {

    text-decoration: none;
    color: black;

}

.linkToPost:hover {
    color: black;
}




@media (max-width: 991.98px) {
    .aside {
        margin-right: 0em;
    }

    .item2 img,
    .item img {
        height: 35vh;
    }

    .top-ad img {
        width: 100%;
    }

    .title-categ {
        height: 30vh;
    }

    .title h1 {
        font-size: 1rem;

    }

}