body{
    display: flex;
    justify-content: center;
}
.maincontainer{
    display: flex;
    width: 90%;
    justify-content: center;
}
.leftcol-img{
    display: flex;
    width: 50%;
}

.container-r{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.rightcol-textbox{
    display: flex;
    width: 80%;
    justify-content: center;
}

.form-container{
    display: flex;
    width: 100%;  
    flex-direction: row;
    flex-wrap: wrap;
}

.log-in-textbox{
    padding-bottom: 20px;
}
